.custom-style {
  position: relative;
  border: 2px solid #a0b8cb;
}
.primary-btn {
  background-color: #6b8181;
}
.primary-btn:hover {
  background-color: #f8ca92;
}
.border-style {
  position: absolute;
  top: -16px;
  right: -3px;
}
.border-style2 {
  position: absolute;
  bottom: -16px;
  left: -3px;
}
