#custom-style {
  position: relative;
  border: 2px solid #a0b8cb;
}
.border-style {
  position: absolute;
  top: -16px;
  right: -3px;
}
.border-style2 {
  position: absolute;
  bottom: -16px;
  left: -3px;
}
